
.content-game {
  margin-top: 15vh;
  margin-left: 35vw;
}


table {
    text-align: center;
    vertical-align: middle;
  }
  table tbody td {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(139, 136, 136);
    font-size: 80px;
    color: white;
  }

  .result { 
    margin-top: 40px;
    border: 0;
    background: 0;
    width: 450px;
  }

  .result.info {
    text-align: center;
    padding: 30px;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background: rgb(15, 138, 15);
  }